<%include partials/header %>


<h1>Hi every one</h1>
<p><%=fruit.
%></p>


<form action="/newfruit" method="POST">
	
	<input type="text" name="newfruit" placeholder="fruit">
	<button>I made a new fruit</button>
</form>
<% include partials/footer %>       