
<%include partials/header %>

	<h1>Ajay Dinakar Kandavalli</h1>
	<p>Hai my name is Ajay Dinajkar ,I was a Computer Scientist</p>
	<li>MS in Computer Science</li>
	<li>This is my first app in aws using node js</li>
	<li>Have a nice daay</li>

<% include partials/footer %>