<%include partials/header %>


<h1>Your search result is</h1>
<form action="/post" method="POST">
	
	<input type="text" name="movie" placeholder="movie">
	<button>Search</button>
</form>
<%data["Search"].forEach(function(movie){%>

<li><%=movie["Title"]%> <%=movie["Year"]%></li>
<% });%>



<% include partials/footer %>       