
<%include partials/header %>

<h1> search Movie by name</h1>
<form action="/post" method="POST">
	
	<input type="text" name="movie" placeholder="movie">
	<button>Search</button>
</form>


<% include partials/footer %>       