<html><head>	<link rel="stylesheet" href="profile.css"></head><body>      
    
<h1> THis is the profile page of <%=profilename.toUpperCase()%>     </h1>

<h3>now i will say three times using a loop</h3>

<%  for(i=0;i<3;i++){   %>

<h1> THis is the profile page of <%=profilename.toUpperCase()%>     </h1>

<%  }   %>

</body>
</html>
	
	


