<%include partials/header %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
       
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>






<div class="container">
  <header class="jumbotron"><h1>Welcome to cliknshare</h1>
 <div class="container">
        <p>the world of new images</p>
         <p>
         <a class="btn btn-primary btn-large" href="/dashboard/new">add newimage</a>
        </p>
 </div>
 </header>


 <div class="row text-center" style="display:flex;flex-wrap:wrap;">
           <%imgs.forEach(function(data){%>

       <div class="col-md-3 col-sm-6">
     
             <div class="thumbnail">
                  <img src="<%=data.url%>" 
                  
                      <h4><%=data.name%> <h4>
                        <div> 
               <p><a href="/dashboard/<%=data._id%>" class="btn btn-primary">Info</a></p>
             </div>
                 
             </div>
             
     
        </div> 
  
 <% } )%>

</div>
<a href="/landing">link</a>

</div>
<% include partials/footer %>