<%include partials/header %>

<h1>This is the description of image </h1>

 <img src="<%=data.url%>" >

<p><%=data.about%></p>


<a href="/dashboard">go to dash board</a>


<% include partials/footer %>
